# Ignore virtual environment
env/
venv/
.venv/

# Ignore dataset folders
cats_and_dogs_filtered_extracted/
cats_and_dogs_filtered/
train/
validation/
data/
dataset/

# Ignore test images (optional)
test_img/

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary files
*.log
*.tmp

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Streamlit cache
.streamlit/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings folder
.vscode/
